.star {
    position: relative;
    display: inline-block;
    color: #d3d3d3;
}
.col-cus {
    padding-right: 0px;
    font-size: 15px;
}
.full {
    color: #ffff00;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffff00;
}

#card-cus {
    font-size: 22px;
    font-weight: 500;
}

.cus-view-infor {
    height: 21px;
    font-size: 10px;
    padding: 3px 5px 10px 5px;
    margin-left: 10px;
}

#amount-cus {
    font-weight: 400;
    color: red;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.carousel-control-prev {
    width: 50px !important;
}

.carousel-control-next {
    width: 50px !important;
}
.button-count-item {
    width: 8px;
    padding-right: 20px;
    font-weight: 900;
}
