<div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong >Thay đổi mật khẩu</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clickClose()" id="btn">
            <span aria-hidden="true">&times;</span>
        </button>
    </h5>

    <div class="card-body px-lg-5 pt-1 mt-1">
        <div class="text-center" *ngIf="!checkForm()">
            <small style="color: red;">{{messageError}}</small>
        </div>

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;" action="#!">
            <div class="container md-1 mt-1">
                <label class="col col-md-4 text-right">Mật khẩu</label>
                <input type="password" class="form-control col-md-8" formControlName="password" placeholder="Password">
            </div>

            <div class="container md-1 mt-1">
                <label class="col col-md-4 text-right">Nhập lại mật khẩu</label>
                <input type="password" class="form-control col-md-8" formControlName="confirmPassword"
                    placeholder="Confirm password">
            </div>
            <div class="container">
                <button class="btn btn-outline-info btn-rounded waves-effect
                    col-md-4" type="submit" id="btn_submit">Thay đổi</button>
                <button class="btn btn-outline-danger btn-rounded waves-effect
                    col-md-4" (click)="clickClose()">Hủy</button>
            </div>
        </form>
    </div>
</div>