<div class="row">
    <div class="col-12">
        <div class="container">
            <input #search class="form-control col-md-5" type="text" placeholder="Tìm kiếm sản phẩm mong muốn..."
                aria-label="Search" (keyup.enter)="searchPost(search.value)">
            <button class="btn" (click)="searchPost(search.value)"><i class="fa fa-search fa-lg pb-2"></i></button>
        </div>
        <div class="row mt-2">
            <div class="col-md-5ths col-xs-6" *ngFor="let post of dataList">
                <div class="card shadow" style="cursor: pointer;" (click)="showInfo(post)">
                    <img class="card-img-top img-responsive" src="{{post.imageURLs[0].url|convertUrlImage}}"
                        alt="Card image cap" >
                    <div class="card-body">
                        <h4 class="card-title">{{post.postName|convertString:18}}</h4>
                        <!-- <p class="card-text">{{post.description}}</p> -->
                        <div class="row">
                            <div class="col col-cus"><i>{{post.province.nameProvince|convertString:10}}</i></div>
                            <div class="col">
                                <ngb-rating [(rate)]="post.averageRate" max='5' [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"><span class="half"
                                                [style.width.%]="fill">&#9733;</span>&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" id="stype-amount"><b>{{post.unitPrice|convertAmount}}/1
                                    {{post.calculationUnit.unitName}}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ngb-pagination class="d-flex justify-content-center" #numPages (click)="onChangePage(numPages.page)"
                [(collectionSize)]="totalPage" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>