<!-- <div class="container">
    <input #search class="form-control col-md-3" type="text" placeholder="Search" aria-label="Search" (keyup.enter)="searchUser(search.value)">
    <button class="btn" (click)="searcPost(search.value)"><i class="fa fa-search fa-lg pb-2"></i></button>
</div> -->
<div class="container">
    <h3>QUẢN LÍ ĐƠN HÀNG MUA</h3>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-hover">
    <ng-container matColumnDef="imageURL">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <span class="round"><img src="{{element.imageURL}}" alt="user" width="50" height="50"></span>
        </td>
    </ng-container>
    <ng-container matColumnDef="purchaseId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã đơn hàng</th>
        <td mat-cell *matCellDef="let element" class="text-info"> {{element.purchaseId}} </td>
    </ng-container>
    <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên mặt hàng</th>
        <td mat-cell *matCellDef="let element"> {{element.post.postName}} </td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Đơn giá</th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice|convertAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="purchaseNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </th>
        <td mat-cell *matCellDef="let element"> {{element.purchaseNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfOrder">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày đặt hàng </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfOrder| date:"dd/MM/yyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="statusPurchaseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
            'text-success':element.statusPurchaseName === 'Pending',
            'text-primary':element.statusPurchaseName === 'Waiting',
            'text-warning':element.statusPurchaseName === 'Done',
            'text-danger':element.statusPurchaseName === 'Cancel'
          }"> {{element.statusPurchaseName|translationString}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Chỉnh sửa </th>
        <td mat-cell *matCellDef="let element">
            <button class="btn" (click)='eidtPurchase(element)' *ngIf="element.statusPurchaseName === 'Pending'"><i
                    class="fa fa-pencil-square-o"></i></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> Chi tiết </th>
        <td mat-cell *matCellDef="let element">
            <button class="btn" (click)='viewItem(element)'><i class="fa fa-eye"></i></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Xóa </th>
        <td mat-cell *matCellDef="let element">
            <button class="btn" (click)='deleteItem(element)'><i class="fa fa-trash"></i></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>