#cart{
    margin: 8px 0px 0px 10px;
    cursor: pointer;
}
.cus-but{
    height: 40px;
}
#number-storge-item-cus{
    top: -10px;
    background: rgb(253, 216, 53);
    font-size: 12px;
    font-weight: 600;
}