#stype-amount{
    margin-top: 8px;
    color: black;
}
.star {
    position: relative;
    display: inline-block;
    color: #d3d3d3;
}
.col-cus {
    padding-right: 0px;
}
.full {
    color: #ffff00;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffff00;
}

.card-text {
    height: 100px !important;
}

.img-cus {
    height: 200px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
