#add-post{
    float: right;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #d3d3d3;
}
.full {
    color: #ffff00;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffff00;
}
.card-text{
    height: 100px !important;
}
// img{
//     height: 200px;
// }